name: Build Executables

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master

jobs:
  build-windows:
    name: Build Windows (.exe)
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build executable
        run: |
          pyinstaller --noconfirm --onefile --windowed --icon=icono.ico --name ConversorCompresor main_corrected.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ConversorCompresor-windows
          path: dist/ConversorCompresor.exe

  build-linux:
    name: Build Linux executable
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build executable
        run: |
          pyinstaller --onefile --windowed --icon=icono.ico --name ConversorCompresor main_corrected.py
          pyinstaller --noconfirm --onefile \
          --hidden-import=PIL._tkinter_finder \
          --hidden-import=PIL.ImageTk \
          --windowed --icon=icono.ico --name ConversorCompresor-linux main_corrected.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ConversorCompresor-linux
          path: dist/ConversorCompresor
